.settings-column {
    align-content: center;
    border: 0;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 4px 0 hsla(0,0%,0%,0.15);
    margin: 1em 1em;
    padding: 1em;
	width: 40%;
}

.settings-section{
    margin: 0.4em 0 1em 0;
}

.settings-section-left{
    width: 30%;
    float: left;    
}

#btn-start{
    margin-top: 1em;
    height: 2.5em;
    width: 8em;
}

#custom-verbs{
    /* margin-top: 1em; */
    height:4em;
    width: 100%;
}

.validation-message{
    color: #ff0000;
    font-size: 0.8em;
    height:0.5em;
    margin-bottom: 1em;
    text-align: left;
}

.button-section{
    display: flex;
}
#button-message{
    color: #ff0000;
    font-size: 0.8em;
    margin: 1.2em 1em;
    padding: 0.5em;
}

 