.settings-column {
	align-content: center;
	border: 0;
	border-radius: 0 0 2px 2px;
	box-shadow: 0 2px 4px 0 #00000026;
	margin: 0em 0em;
	padding: 1em;
	width: 50%;
}

.settings-section {
	margin: 0.4em 0 1em 0;
}

/* .pronoun-section {
    display: flex;
    flex-direction: row;
}
.pronoun-section div {
    width: 50%;
} */

.settings-section-left {
	width: 30%;
	float: left;
}

.button-group {
	margin: 0.7em 0;
}

.button-group label:hover,
button:hover {
	cursor: pointer;
}

.button-group input {
	display: none;
}

.button-group label {
	align-items: center;
<<<<<<< HEAD
	border-top: 1px solid #c9c5c1;
	border-bottom: 1px solid #c9c5c1;
=======
	border-top: 1px solid #fd951d;
	border-bottom: 1px solid #fd951d;
>>>>>>> 6b25ea3... Styling in progress - pushing for end of day
	/* color: #FD951D; */
	display: inline-flex;
	font-weight: 500;
	height: 1.5em;
	justify-content: center;
	vertical-align: middle;
	width: 7em;
}

.button-left {
	border-radius: 5px 0px 0 5px;
<<<<<<< HEAD
	border-left: 1px solid #c9c5c1;
	border-right: 0.5px solid #c9c5c1;
}
.button-middle {
	/* border-right: 1px solid #c9c5c1;
    border-left: 1px solid #c9c5c1; */
=======
	border-left: 1px solid #fd951d;
	border-right: 2px solid #fd951d;
}
.button-middle {
	/* border-right: 1px solid #FD951D;
    border-left: 1px solid #FD951D; */
>>>>>>> 6b25ea3... Styling in progress - pushing for end of day
}

.button-right {
	border-radius: 0px 5px 5px 0px;
<<<<<<< HEAD
	border-left: 0.5px solid #c9c5c1;
	border-right: 1px solid #c9c5c1;
=======
	border-left: 1px solid #fd951d;
	border-right: 1px solid #fd951d;
>>>>>>> 6b25ea3... Styling in progress - pushing for end of day
}

.button-group input:checked + label,
.button-group input:checked + label:active {
	border-color: #fd951d;
	background-color: #fd951d;
<<<<<<< HEAD
	color: #ffffff;

	/* box-shadow: inset 1px 1px 10px #db811a; */
}

.button-group input:checked + label:hover {
	background-color: #faae56;
	/* box-shadow: inset 1px 1px 10px #ce7918; */
}
.button-group label:hover {
	background-color: #fdebd7;
}

.button-section {
	float: right;
}

#btn-start {
	background-color: #98c24e;
	border: none;
	border-radius: 8px;
    color: #ffffff;
	float: right;
	font-size: 90%;
	font-weight: 700;
	height: 2.5em;
	margin-top: 1em;
	text-decoration: none;
	user-select: none;
	width: 10em;
}

#btn-start:active {
	background-color: #7ea33e;
	-webkit-box-shadow: 0px 10px 0px 0px #03352152;
	-moz-box-shadow: 0px 10px 0px 0px #03352152;
	box-shadow: 0px 0px 10px 0px #03352152;
}

#btn-start:hover {
	background-color: #7ea33e;
}

#custom-verbs {
=======
    color: #ffffff;

    box-shadow: inset 1px 1px 10px #db811a;
}

.button-group input:checked + label:hover {
    background-color: #faae56;
    box-shadow: inset 1px 1px 10px #ce7918;
}
.button-group label:hover {
	background-color: #fdebd7;
}

.button-section {
	float: right;
}

#btn-start {
	background-color: #12b674;
	border-radius: 5px;
	color: #ffffff;
	font-weight: 600;
	margin-top: 1em;
	height: 2.5em;
	width: 8em;
}

#custom-verbs {
	/* margin-top: 1em; */
>>>>>>> 6b25ea3... Styling in progress - pushing for end of day
	height: 4em;
	width: 100%;
}

.button-section {
	display: flex;
}
#button-message {
	color: #ff0000;
	font-size: 0.8em;
	margin: 1.2em 1em;
	padding: 0.5em;
}
