.settings-container {
	overflow: hidden;
	padding: 0.5rem 1rem;
	position: relative;
	width: 100%;
}

.settings-header {
	color: #eb6a00;
	font-size: 1.1rem;
	margin: 0.5rem 0;
	text-align: center;
	text-decoration: underline;
	width: 100%;
}
.settings-section-header {
	color: #eb6a00;
	font-weight: 500;
	margin: 1.5rem 0 0.5em;
}
.label {
	font-weight: 300;
}

.pronoun-section {
	margin-bottom: 1.5rem;
}
.settings-section {
	margin-bottom: 1rem;
}
.section-subheading {
	color: #eb6a00;
	font-weight: 600;
	display: block;
	margin: 0 0 0.25rem;
}

.extra-space-top {
	margin: 1rem 0 0rem;
}

.custom-verbs {
	border: 1px solid #eb6a00;
	font-family: 'Rubik', sans-serif;
	margin: 1rem auto 0rem;
	max-width: 100%;
	padding: 0.5rem;
	width: 100%;
}

.btn-start {
	background-color: #139b25;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
	float: right;
	font-size: 1rem;
	margin: 1.5rem 0 1.5rem;
	padding: 0.75rem 1.5rem;
}
.btn-start:hover {
	background-color: #0f7c1e;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.settings-container {
		padding: 0.5rem 2.25rem;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.settings-container {
		margin: 0 auto;
		padding: 0.5rem 2rem;
		width: 50%;
	}

	.selection-container {
		margin: 0 auto;
		padding: 0.5rem 2rem;
		width: 50%;
	}
}