/* Tooltip container */
.tooltip {
    display: inline-block;
    position: relative;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    /* border: 1px solid red; */
    background-color: #ffffff;
    border-radius: 6px;  
    box-shadow: 0px 0px 4px 3px rgba(235,235,235,1);
    margin-top: -2.5em;
    margin-left: -7em;
    padding: 5px 0;  
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: 9em;
    z-index: 1;
  }
  
  /* Show the tooltip on hover. */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  