p{
    margin: 0;
    padding: 0;
}

.settings-column {
    align-content: center;
    border: 0;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 4px 0 hsla(0,0%,0%,0.15);
    margin: 1em 1em;
    padding: 1em;
	width: 40%;
}

.help-text{
    font-size: 0.8em;
    font-weight: 300;
    margin-bottom: 1em;
    padding-bottom: 0.55em;
    text-align: center;
    width: 100%;
}

.options-section{
    margin: 0.4em 0 1em 0;
}

.options-section-left{
    width: 50%;
    float: left;
}

.options-section-right{
    width: 50%;
    float: right;
}

.validation-message{
    color: #ff0000;
    font-size: 0.8em;
    height:0.5em;
    margin: 0.5em 0;
    text-align: left;
}