p {
	margin: 0;
	padding: 0;
}

.settings-container {
	align-content: center;
	width: 50%;
}

.settings-title {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 1em;
	text-align: center;
}

.section {
	align-items: center;
	background-color: #ffffff;
	border-radius: 1.5em;
	min-height: 26rem;
	margin: auto;
	overflow: hidden;
	padding: 1em;
	width: 85%;

	-webkit-box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.42);
	-moz-box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.42);
	box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.42);
}

.section-header {
	font-weight: 500;
	margin-bottom: 0.5em;
}

.options-section {
	margin-bottom: 1em;
}

.left-section {
	float: left;
	width: 49%;
}

.right-section {
	float: right;
	width: 49%;
}
