<<<<<<< HEAD
.header {
	align-items: center;
	color: #ffffff;
	display: flex;
	height: 5em;
=======
.header{
    align-items: center;
	/* background-color: #ffffff; */
	/* color: #b11409; */
	color: #ffffff;
    display: flex;
    height: 5em;
>>>>>>> 6b25ea3... Styling in progress - pushing for end of day
	justify-content: space-between;
	width: 100%;
}

.title {
	font-size: 2em;
	font-weight: 500;
	padding: 0 2em;
}

.nav-menu {
	display: flex;
	list-style: none;
	justify-content: flex-end;
	padding-right: 2rem;
}

.link:hover {
	color: #dd3b2f;
}

.link,
.home-link {
	color: #ffffff;
	padding: 10px 15px;
	text-decoration: none;
<<<<<<< HEAD
}
=======
	color: #ffffff;
	/* color: #b11409; */
	text-decoration: none;
}
>>>>>>> 6b25ea3... Styling in progress - pushing for end of day
