.feedback-container {
	background-color: #ffffff;
	border: 2px solid #ffb68c;
	border-radius: 10px;
	min-height: 40rem;
	margin: 0 auto 6rem;
	max-width: 1200px;
	overflow: hidden;
	padding: 1rem;
	text-align: center;
	width: 90%;
}

.loading {	
	background-color: #ffffff;
	border-radius: 10px;
	position: absolute;
	height: 100%;
	margin: -1rem;
	width: 100%;
	z-index: 10;
}

.score-section {
	margin: 1rem auto 2rem;
	padding-top: 1rem;
}
.result {
	display: block;
	font-size: 1.5rem;
	font-weight: 600;
	margin: 1rem auto 0;
}
.pass {
	color: #008000;
}
.fail {
	color: #ff0000;
}

.btn-finish {
	background-color: #139b25;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
	float: right;
	font-size: 1rem;
	margin: 1rem 0 0;
	padding: 0.75rem 1.5rem;
	/* width: 7rem; */
}
.btn-finish:hover {
	background-color: #0f7c1e;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.feedback-container {
		width: 80%;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.flex-container {
		width: 100%;
		text-align: center;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}