.footer {
	align-items: center;
	background-color: #ffb68c;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.5rem;
	width: 100%;
}
.footer-logo img {
	height: 1.25rem;
}

.copyright {
	color: #ffffff;
	font-size: 0.9rem;
	font-weight: 400;
	margin: 0 0 0.5rem 0;
	text-align: center;
	width: 100%;
}
