.review-performance {
	display: inline-block;
	border-radius: 10px;
	margin: 0.5rem auto;
	max-width: 500px;
	padding: 0.5rem;
	width: 100%;
}

.review-image {
	vertical-align: middle;
}

.review-image img {
	height: 1.5rem;
	width: 1.5rem;
}

#review-question {
	display: flex;
	margin: 0rem 0.25rem 0 0;
	text-align: left;
}

.number-column {
	font-weight: 600;
	height: 5rem;
	margin: 0 0.25rem 0 0;
}
.question-column {
	flex-direction: column;
}
.review-question-verb {
	display: inline-block;
	font-weight: 600;
	width: 100%;
}
.review-question-tense-pronoun {
	display: block;	
	font-size: 0.9rem;
	margin: 0 0 0.5rem;
}

.question-answers {
	display: block;
	font-size: 0.9rem;
}

.review-correct-answer {
	background-color: #bcf063;
	color: #446b00;
}

.review-incorrect-answer {
	background-color: #f8baba;
	color: #e60101;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.review-performance {
		margin: 0.5rem 1.5rem;
		max-width: 400px;
		padding: 1rem;
		width: 40%;
	}
}
