.options-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto 2em;
	width: 80%;
}

.validation-message {
	color: #ff0000;
	font-size: 0.8em;
	height: 0.5em;
	margin-bottom: 1.5em;
	text-align: left;
}

.warning-image {
	height: 1.5em;
	margin-right: 0.7em;
	vertical-align: middle;
	width: 1.5em;
}
