.options-container {
	background-color: #ffffff;
	border: 2px solid #ffb68c;
	border-radius: 10px;
	margin: 0 auto 6rem;
	max-width: 1400px;
	min-height: 50rem;
	width: 90%;
}

.loading-options {
	background-color: #ffffff;
	border-radius: 10px;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.horizontal-line {
	border: none;
	border-top: 1px solid #ffb68c;
	display: block;
	margin: 2rem 2rem 1rem;
}

.vertical-line {
	display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.options-container {
		width: 80%;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.options-container {
		display: flex;
		min-height: 30rem;
		/* margin-bottom: 10rem; */
	}
	.horizontal-line {
		display: none;
	}
	.vertical-line {
		display: block;
		border-left: 1px solid #ffb68c;
		left: 50%;
		margin: 1rem -0.5px 1rem 0;
	}
}
