.app-container {
	display: flex;
	flex-direction: column;
    position: relative;
}

.app-content {
    position: absolute;
	right: 50%;
    left: 50%;
	top: 6.5rem;
	transform: translate(-50%, 0%);
    width: 100%;
}
.full-height {
	min-height: 100vh;
}