.progress-bar {
	position: relative;
	height: 1em;
	width: 90%;
	border-radius: 1em;
	background-color: #e4e3e3;
}

.filler {
	background-color: #fd951d;
	height: 100%;
	border-radius: inherit;
	transition: width 0.3s ease-in;
}
